page-login {

ion-content{
	background-color: #1565C0 !important;
	color: #ffffff !important;
}
.text2{
	text-align: center;
   	vertical-align: middle;
}

ion-label{
	color: #ffffff !important;
}

ion-item{
	background-color: #1565C0 !important;
	color: #ffffff !important;
}
}
