<ion-header>

  <ion-navbar>
    <ion-title>Input Nilai Siswa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngFor="let item of items">
	Input Nilai Siswa Kelas blablabla<br>
	Semester : blablabla<br>
	Tahun Ajaran : blablabla<br>
	Mata Pelajaran : blablabla<br>
	KKM : {{item.KKM}}<br>
	</div>
	<button ion-button class="font">
		Input Nilai
	</button>
        
		<div class="row header">
          <div class="col">NIS</div>
          <div class="col">Nama Siswa</div>
          <div class="col">Nilai UTS</div>
          <div class="col">Nilai UAS</div>
        </div>
        
        <div class="row" ng-repeat="data in ctrl.data" *ngFor="let item of items">
          <div class="col">
          	{{ item.nis }}
          </div>
          <div class="col">
          	{{ item.nama }}
          </div>
          <div class="col">
          	<ion-input type="text" placeholder="Masukkan UTS"></ion-input>
          </div>
          <div class="col">
          	<ion-input type="text" placeholder="Masukkan UAS"></ion-input>
          </div>
        </div>
        	
</ion-content>
