<ion-header>

  <ion-navbar color="dark">
    <ion-title>
      <h2 align="center">
        Nilai Siswa
      </h2>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
		<div class="row header">
          <div class="col">Nama Kelas</div>
          <div class="col">Semester</div>
          <div class="col">Mata Pelajaran</div>
          <div class="col">Aksi</div>
        </div>
        <div class="row" ng-repeat="data in ctrl.data"  *ngFor="let item of items">
          <div class="col">
          	{{ item.nama_kelas }}
          </div>
          <div class="col">
          	<ion-select>
          	  <ion-option value="" selected>- Pilih -</ion-option>
              <ion-option value="Senin">Senin</ion-option>
              <ion-option value="Selasa">Selasa</ion-option>
            </ion-select>
          </div>
          <div class="col">
          	<ion-select>
          	  <ion-option value="" selected>- Pilih -</ion-option>
              <ion-option value="Senin">Senin</ion-option>
              <ion-option value="Selasa">Selasa</ion-option>
            </ion-select>
          </div>
          <div class="col">
          	<button ion-button class="font" (click)='addNilai()'>
				Input Nilai
			</button>
          </div>
        </div>
</ion-content>
