<!--
  Generated template for the AddTechnologyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div>
     
<div *ngIf="hideForm">
        <!-- <ion-item class="post-entry-message" text-wrap>
            <h2>Success!</h2>
            <p>Maybe you'd like to edit an existing entry or add a new record?</p>
            <p>Simply go back to the home page and select the option you want to pursue.</p>
         </ion-item>-->
		 
		<ion-item *ngFor="let item of items">
		  <h2>{{ item.nama_kelas }} </h2>
		  <button 
			 ion-button 
			 color="primary" 
			 item-right
			 (click)="viewEntry({ record: item })">Ubah</button>
	    </ion-item>
</div>

	  
<div *ngIf="!hideForm">
         <form [formGroup]="form" (ngSubmit)="saveEntry()">

            <ion-list>
               <ion-item-group>
                  <ion-item-divider color="light">Kelas</ion-item-divider>
                  <ion-item>
                     <ion-input 
                        type="text" 
                        placeholder="Masukkan Kode" 
                        formControlName="kode_kelas" 
                        [(ngModel)]="kode_kelas">
                          
                      </ion-input>
                  </ion-item>
                  <ion-item>
                     <ion-input 
                        type="text" 
                        placeholder="Masukkan Nama" 
                        formControlName="nama_kelas" 
                        [(ngModel)]="nama_kelas">
                          
                      </ion-input>
                  </ion-item>
                  <ion-item>
                     <ion-input 
                        type="text" 
                        placeholder="Masukkan jumlah_siswa" 
                        formControlName="jumlah_siswa" 
                        [(ngModel)]="jumlah_siswa">
                          
                      </ion-input>
                  </ion-item>

               </ion-item-group>
			   

			<ion-item>
                  <button 
                     ion-button 
                     color="primary" 
                     text-center 
                     block 
                     [disabled]="!form.valid">Simpan</button>
            </ion-item>
			<ion-item *ngIf="isEdited && !hideForm">
				 <button 
					ion-button 
					item-right
					color="secondary" 
					text-center 
					block 
					(click)="deleteEntry()">Hapus Kata</button>
			</ion-item>

            </ion-list>

         </form>
      </div>
   </div>		   

</ion-content>
